In [1]:
# Create a list

L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

In [6]:
# Print the elements on each index

print('the same element using negative and positive indexing:\n Postive:', L[0], '\n Negative:', L[-3])
print('the same element using negative and positive indexing: \n Postive:', L[1], '\n Negative:', L[-2])
print('the same element using negative and positive indexing:\n Postive:', L[2], '\n Negative:', L[-1])

the same element using negative and positive indexing:
 Postive: Michael Jackson
 Negative: Michael Jackson
the same element using negative and positive indexing:
 Postive: 10.1
 Negative: 10.1
the same element using negative and positive indexing:
 Postive: 1982
 Negative: 1982

In [7]:
# Sample list

["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1)]

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]

In [8]:
# Sample list

L = ["Michael Jackson", 10.1, 1982, "MJ", 1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [9]:
# List slicing

L[3:5]

['MJ', 1]

In [10]:
# Use extend to add elements to list

L = ["Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [11]:
# Use append to add elements to list

L = ["Michael Jackson", 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

In [12]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [13]:
# Use append to add elements to list

L.append(['a', 'b'])
L

['Michael Jackson', 10.2, 'pop', 10, ['a', 'b']]

In [14]:
# Change the element based on the index

A = ['disco', 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

In [15]:
print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

In [16]:
# Split the string, default is by space

'hard rock'.split()

['hard', 'rock']

In [17]:
# Split the string by comma

'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

In [18]:
# Copy (copy by reference) the list A

A = ['hard rock', 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [19]:
# Examine the copy by reference

print('B[0]:', B[0])
A[0] = 'banana'
print('B[0]:' B[0])

SyntaxError: invalid syntax (<ipython-input-19-c6018621f749>, line 5)

In [20]:
print('B[0]:', B[0])
A[0] = 'banana'
print('B[0]:' B[0])

SyntaxError: invalid syntax (<ipython-input-20-70f5dfd565cd>, line 3)

In [21]:
print('B[0]:', B[0])
A[0] = 'banana'
print('B[0]:', B[0])

B[0]: hard rock
B[0]: banana

In [22]:
B

['banana', 10, 1.2]

In [23]:
# Clone (clone by value) the list A

B = A[:]
B

['banana', 10, 1.2]

In [24]:
A

['banana', 10, 1.2]

In [25]:
print('B[0]:', B[0])
A[0] = 'hard rock'
print('B[0]:', B[0])

B[0]: banana
B[0]: banana

In [26]:
# Write your code below and press Shift+Enter to execute

List=[1, hello, [1,2,3], True]
List

NameError: name 'hello' is not defined

In [27]:
List = [1, "hello", [1,2,3], True]
List

[1, 'hello', [1, 2, 3], True]

In [28]:
# Write your code below and press Shift+Enter to execute

L[1]

10.2

In [29]:
a_list[1]

NameError: name 'a_list' is not defined

In [30]:
List[1]

'hello'

In [31]:
List{1:4}

SyntaxError: invalid syntax (<ipython-input-31-76ed9ca51089>, line 1)

In [32]:
List[1:4]

['hello', [1, 2, 3], True]

In [33]:
List[0:3]

[1, 'hello', [1, 2, 3]]

In [34]:
A = [1, 'a']
B = [2, 1, 'd']
A + B

[1, 'a', 2, 1, 'd']