In [1]:
# Assign a string to a variable

name = "Michael Jackson"
name

'Michael Jackson'

In [2]:
# Print the first element in the string

print(name[0])

M

In [3]:
# Print the element on index 6 in the string

print(name[6])

l

In [4]:
# Print the element on the 13th index in the string

print(name[13])

o

In [5]:
# Print the last element in the string

print(name[-1])

n

In [6]:
# Print the first element in the string

print(name[-15])

M

In [7]:
# Find the Length of string

len("Michael Jackson")

15

In [8]:
# Take the slice on variable name with only index 0 to index 3

name[0:4]

'Mich'

In [9]:
# Take the slice on variable name with only index 8 to index 11

name[8:12]

'Jack'

In [10]:
# Get every second element. The elements on index 1, 3, 5 

name[::2]

'McalJcsn'

In [11]:
# Get every second element in the range from index 0 to index 4

name[0:5:2]

'Mca'

In [12]:
name[0:2:5]

'M'

In [13]:
name[0:8:2]

'Mcal'

In [15]:
# Concatenate two strings

statement = name + "is the best"

In [16]:
statement

'Michael Jacksonis the best'

In [17]:
statement = name + " is the best"
name

'Michael Jackson'

In [18]:
statement

'Michael Jackson is the best'

In [19]:
statement = name + " is the best"
statement

'Michael Jackson is the best'

In [20]:
# Print the string for 3 times

3 * "Michael Jackson"

'Michael JacksonMichael JacksonMichael Jackson'

In [21]:
3 * statement

'Michael Jackson is the bestMichael Jackson is the bestMichael Jackson is the best'

In [22]:
3 * name

'Michael JacksonMichael JacksonMichael Jackson'

In [23]:
name = "Michael Jackson"
name = name + " is the best"
name

'Michael Jackson is the best'

In [24]:
# New line escape sequence

print("Michael Jackson \n is the best")

Michael Jackson
 is the best

In [25]:
# Tab escape sequence

print("Michael Jackson \t is the best")

Michael Jackson 	 is the best

In [26]:
# Include back slash in a string

print("Michael Jackson \\ is the best")

Michael Jackson \ is the best

In [27]:
print(r"Michael Jackson \ is the best")

Michael Jackson \ is the best

In [28]:
# Convert all the characters in string to upper case

a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [29]:
# Replace the old substring with the new target substring is the segment has been found in the string

a = "Michael Jackson is the best"
b = a.replace('Michael', 'Janet')
b

'Janet Jackson is the best'

In [30]:
# Find the substring in the string. Only the index of the first element of substring in string will be the output

name = "Michael Jackson"
name.find('el')

5

In [31]:
# If cannot find the substring in the string

name.find("Jasdfasdasdf")

-1

In [32]:
# Find the substring in the string.

name.find('Jack')

8

In [33]:
# Write your code below and press Shift+Enter to execute

a = "1"
a

'1'

In [34]:
# Write your code below and press Shift+Enter to execute

b = "2"
b

'2'

In [35]:
c = a + b
c

'12'

In [36]:
# Write your code below and press Shift+Enter to execute

d = "ABCDEFG"
print(D[:3])

NameError: name 'D' is not defined

In [37]:
d = "ABCDEFG"
print(d[:3])

ABC

In [38]:
# Write yoru code below and press Shift+Enter to execute

e = "clockr1e1c1t"
print(e::2)

SyntaxError: invalid syntax (<ipython-input-38-db73f7ee87af>, line 4)

In [39]:
e = "clorkr1e1c1t"
print(e[::2])

cok111

In [40]:
# Write your code below and press Shift+Enter to execute

print('\\\\')

\\

In [41]:
print(r"\ ")

\

In [42]:
f = "You are wrong"
f.upper()

'YOU ARE WRONG'

In [43]:
g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \ Its fleece was white as snow And everywhere that Mary went Mary went, Mary went / Everywhere that Mary went The lamb was sure to go"
g.find("snow")

97

In [44]:
g.replace("Mary", "Bob")

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb \\ Its fleece was white as snow And everywhere that Bob went Bob went, Bob went / Everywhere that Bob went The lamb was sure to go'

In [45]:
g.upper()

'MARY HAD A LITTLE LAMB LITTLE LAMB, LITTLE LAMB MARY HAD A LITTLE LAMB \\ ITS FLEECE WAS WHITE AS SNOW AND EVERYWHERE THAT MARY WENT MARY WENT, MARY WENT / EVERYWHERE THAT MARY WENT THE LAMB WAS SURE TO GO'